<ion-content>


  <!-- TODO: Schöneres Layouting für Anzeige von Gerichten -->
  
  <div id="start">

    <ion-card class="Hauptblock">
          <a class="Umformung">
            <img class="Bearbeitung"  style="float: left;" src="../../assets/hotel-vivendi.svg"/> <h1 class="Text1">Speiseplan</h1> 
          </a>
    </ion-card>
  </div>


  <mat-form-field class="Kalendar"> 
    <input [(ngModel)]="selectedDate" matInput [matDatepicker]="picker" (dateChange)="datumGeandert()" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
      
  <div id="speiseplan">
 

    <ion-card class="Box" *ngFor="let gericht of hauptgerichte">
      <ion-img [src]="gericht.ImagePfad"></ion-img>
      <ion-card-title>{{ gericht.Bezeichnung }}</ion-card-title>
      <ion-card-subtitle> <span class="Kategorie"> {{ gericht.Kategorie}}</span>

      <span class="Preis"> {{ gericht.Preis | currency:'EUR':true }}</span>
      </ion-card-subtitle>

    </ion-card>
          



    <ion-card class="Box" *ngFor="let gericht of beilagen">
      <ion-card-title>{{ gericht.Bezeichnung }}</ion-card-title>
      <ion-card-subtitle> <span class="Kategorie">{{ gericht.Kategorie}}</span>

   <span class="Preis"> {{ gericht.Preis | currency:'EUR':true }}</span> 
    </ion-card-subtitle>
    </ion-card>
  </div>



</ion-content>