.Box {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #ffffff;
    box-sizing: border-box;
    margin-right: 0;
       
}


.Hauptblock {
    float: center;
    
    margin-right: 2%;
    padding: 20px;
    background: #f5f5dc;
    box-sizing: border-box;
    margin-right: 0;

}

.Bearbeitung  {
    float: center;
    display: inline;
    max-width: 300px;
    margin-right: 2%;
    padding: 20px;
    vertical-align: middle;
}

.text1{
    margin-left: 10px;
    padding: 10px;
    font-size: 10px;
}

.Umformung {

    text-align: center;
    font-size: 25px;


}


#start {
    float:center;
    background: #f5f5dc;
}

ion-card-title{
    height: 55px;
}


ion-img {
    height: 550px;
    object-fit: cover;

    
}
.Preis {
    color: green;
    font-size: 25px;
    float: left;
 
.text{

    color: red;
}
}

#speiseplan {
    display: flex;
    flex-wrap: wrap;
    
}




.Kategorie {

    display: block;
    height: 15px;

}

.Kalendar {
    display: flex;
    align-items: right;
    justify-content: right;
  }